/* 首页样式 */

/* 设置头部导航条的样式 */
.topNav{
    height: 40px;
    background:#333;
    color: #b0b0b0;
    font-size: 12px;
}
.nav-inner{
    display: flex;
    justify-content: space-between;
    height: 40px;
    line-height: 40px;
}

.nav-inner a:hover{
    color: #fff;
    text-decoration: none;
}

.topNav .sep{
    color: #424242;
    margin: 0 .6em;
}

.link-wrap{
    display: flex;
}

.download-app{
    position: relative;
}

.download-app .hide{
    position: absolute;
    height: 0px;
    background-color: #fff;
    color: #333;
    font-style: 14px;
    z-index: 999;
    box-shadow: 0 0 4px rgba(0, 0, 0, .3);
    left: -36px;
    transition: height .3s;
}

.download-app .hide .inner{
    display:flex ;
    flex-flow: column;
    align-items: center;
    width: 124px;
    height: 100%;
    overflow: hidden;
}



.download-app:hover .hide{
/*     display: flex; */
    height: 148px;
}


.download-app:hover .hide::before{                  
    /* 三角形 */
    width: 0;
    height: 0;
    content: '';
    position: absolute;
    border: 8px transparent solid;
    border-top: none;
    border-bottom-color: white;
    right: 0;
    left: 0;
    top: -8px;
    margin: 0 auto;
}

.download-app .hide img{
    width: 90px;
    margin-top: 18px;
}

.chart{
    width: 120px;
    text-align: center;
    background-color: #424242;
    margin-left: 15px;
}

.user-info{
    display: flex;
}

.user-info .chart:hover{
    color: #ff6700;
    background-color: #fff;
}

